body, html {
    margin: 0;
    padding: 0;
    background-color: #22303c;
    overflow: hidden;
    
}
#buttons {
        margin-top: 10px;
        align-self: center;
        align-items: center ;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        row-gap: 5px;
}
#buttons2 {
    margin-top: 10px;
    align-self: center;
    align-items: center ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    row-gap: 5px;
}
#container {
    width: 400px;
    margin: 100px auto;
    margin-bottom: 50px;
    background-color: #22303c  ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border:none;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    font-family: 'Barlow', sans-serif;
}
.greed1{
    font-family: 'Barlow', sans-serif;
    
    width: 100%;
    height: 100%;
    font-size: 22px;
    margin: 0;
    padding: 10%;
    background-color: #8899a68e;
    color: white;
    align-self: center  ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.greed2{
    font-family: 'Barlow', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 4%;
    background-color: #8899a68e;
    color: white;
    align-self: center  ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#txtbx{
    height: 70px;
    width:inherit;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#equ{
    font-family: 'Barlow', sans-serif;
    height: 100%;
    width: auto;
    resize: none;
    text-align: end;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    background-color: #8899a68e;
    color: white;
    overflow:hidden;
    word-wrap: break-word;
}
#resdiv{
    height: 40px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#result{
    font-family: 'Barlow', sans-serif;
    height: 100%;
    width: auto;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    background-color: #8899a6d0;
    color: white;
    cursor:default;
    
}
#note{
    height: 30px;
    color: white;
    text-align: center;
} 
#credits{
    width: 200px;
    margin: 100px auto;
    margin-top: 0px;
    margin-bottom: 0%;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: white;
}
#god{margin-left: 5px;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      animation: flicker 1.5s infinite alternate; 
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 19px #fff,
        0 0 80px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }